<nav class="z-depth-0 transparent">
  <div class="nav-wrapper transparent s12">
    <a href="/" class="brand-logo"><img src="{{site.baseurl}}/assets/images/logo.png" alt="website logo" /></a>
    <a href="" data-activates="mobile-demo" class="button-collapse large">
      <i class="material-icons black-text sandwich">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% for my_section in site.data.sectionsnav %}
        <li><a href={{my_section[1].url}} class="">{{my_section[0]}}</a><div class="nav-underline"></div></li>
      {% endfor %}
      <!-- Dropdown Trigger -->
      <div class='dropdown-button btn' href='#!' data-activates='dropdown1'>More </div>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="{{site.baseurl}}/MA109">MA109</a></li>
        <li><a href="{{site.baseurl}}/blog" target="_blank">blog</a></li>
        <li class="divider"></li>
        <li><a href="{{site.baseurl}}/quotes"><i class="material-icons">format_quote</i>quotes</a></li>
      </ul>
      
    </ul>
    <ul class="side-nav" id="mobile-demo">
      {% for my_section in site.data.sectionsnav %}
        <li><a href={{my_section[1].url}}>{{my_section[0]}}</a><div class="nav-underline"></div></li>
      {% endfor %}
      <div class='dropdown-button btn' href='#!' data-activates='dropdown2'>more</div>

      <!-- Dropdown Structure -->
      <ul id='dropdown2' class='dropdown-content'>
        <li><a href="{{site.baseurl}}/MA109" target="_blank">MA109</a></li>
        <li><a href="{{site.baseurl}}/blog" target="_blank">blog</a></li>
        
        <li class="divider"></li>
        <li><a href="{{site.baseurl}}/quotes">quotes</a></li>
      </ul>
    </ul>
  </div>
</nav>
