---
layout: default
---

<div id="homepage">
  <div class="row top-row">
    {% include box.html section=site.data.sections.main %}
    {% include box.html section=site.data.sections.about %}
    
  </div>
  <div class="row">
    {% include box.html section=site.data.sections.projects %}
    {% include box.html section=site.data.sections.notes %}
    {% include box.html section=site.data.sections.contact %}
  </div>
</div>
<img src="https://hitcounter.pythonanywhere.com/count/tag.svg?url=http%3A%2F%2Fiamsreeman.github.io%2F" alt="Hits" style="display: none;">
